* {
  box-sizing: border-box;
  user-select: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", serif;
  overflow-x: hidden;
}
/* 
header {
  position: fixed;
  margin: 0 auto;
  text-align: center;
}

section {
  min-height: 100vh;
  padding: 15% 0%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 100%;
} */

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1% 0%;
  border-bottom: 0px solid transparent !important;
  background: #ffffff;
  z-index: 999;
}
header img {
  margin: 0 auto;
}

.row {
  width: 100%;
}

.sections-wrapper {
  /* scroll-snap-type: y mandatory; */
  /* overflow-y: hidden; */
  height: 100vh;
}

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* scroll-snap-align: start; */
  padding: 2rem;
}
@media (max-width: 767.98px) {
  section {
    height: auto;
    padding: 30% 0%;
  }
}

section {
  background-color: white;
  border-top: 1px solid #f0f0f0;
}

section:first-child {
  border-top: none;
}

section:nth-child(odd) {
  background-color: #ffffff;
}

section:nth-child(even) {
  background-color: #fafafa;
}

/* Background colors for each section */
/* #newsletter {
  background-color: #f0f0f0;
}
#professional {
  background-color: #f0f0f0;
}
#personal {
  background-color: #e6e6e6;
}
#music {
  background-color: #dcdcdc;
}
#blog {
  background-color: #d3d3d3;
}
#youtube {
  background-color: #c9c9c9;
} */

.section-title {
  margin-bottom: 1rem;
}

ul {
  list-style-type: none;
}

li {
  margin-bottom: 0.5rem;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}
